.section {
    margin: auto;
    max-width: 700px;
    text-align: center;
    padding: 10px 40px;
}

.section__header {
    color: rgb(4, 83, 4);
    text-align: center;
    text-shadow: 1px 2px 5px rgb(170, 241, 63);
    background-color: rgb(205, 243, 147);
    border-radius: 20px;
    border-bottom: 2px groove sienna;
}

.section__image {
    width: 100%;
    max-width: 150px;
    border-radius: 20% 10%;
    box-shadow: 3px 3px 5px #aaa;
}

.section__imageChange {
    width: 100%;
    max-width: 200px;
}

.button {
    font-size: 20px;
    background-color: #eee;
    color: green;
    border-width: 0 0 2px;
    padding: 20px 40px;
    border-radius: 20px;
}

.button:hover {
    color: tomato;
}

.button:active {
    color: brown;
}