

.table {
    width: 100%;
    border-collapse: collapse;
    max-width: 700px;
}

.table__caption {
    caption-side: bottom;
    margin: auto;
    text-align: right;
    font-weight: 700;
    color: green;
}

.table__row {
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.table__cell {
    border: 1px solid green;
    vertical-align: middle;
    border-width: 0 0 2px;
    padding: 20px 20px;
}

.table__cell--header {
    border: 1px solid rgb(33, 145, 33);
    background-color: rgb(109, 177, 7);
}

.table__cell--header:hover {
    background-color: rgb(205, 243, 147)
}

.table__row:nth-child(even) {
    background-color: #eee;
}

.table__row:hover {
    background-color: rgb(205, 243, 147);
}